<?xml version='1.0' encoding='utf-8'?>
<widget id="com.MetalorgieMobile" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Metalorgie</name>
    <description>
        L'application mobile de metalorgie.com
    </description>
    <author email="bacteries@metalorgie.com" href="http://www.metalorgie.com">
        Bacteries
    </author>
    <access origin="*"/>
    <icon src="app/res/icons/mipmap-mdpi/ic_launcher.png"/>
    <platform name="android">
        <icon src="app/res/icons/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
        <icon src="app/res/icons/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="app/res/icons/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="app/res/icons/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="app/res/icons/mipmap-mdpi/ic_launcher.png" density="mdpi" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
