<ion-view>
    <ion-content has-header="true" class="detail">
        <div class="list card">
            <div class="item item-divider">
                {{ album.name }}
                <p>{{ album.year }}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" data-ng-src="{{ album.image }}" alt="{{ album.name }}">
                <h2>Tracklist</h2>
                <p data-ng-bind-html="album.tracklist|trustAsHtml"></p>
                <div ng-if="album.reviews.length > 0">
                    <h2>Chronique</h2>
                    <div data-ng-repeat="review in album.reviews">
                        <rating ng-model="review.rate/2" max="10"></rating>
                        <!-- 
                        TODO : Convert grade into stars ? 
                        -->
                        <p><i class="icon ion-ios7-star"></i> Note : {{ review.rate }}</p>
                        <p data-ng-bind-html="review.text|trustAsHtml|convertLink"></p>
                        <p class="additional" data-ng-if="review.additionalText" data-ng-bind-html="review.additionalText|trustAsHtml"></p>
                        <strong>{{ review.redactor.name }}</strong>                        
                    </div>
                </div>
                 <p><a href="#" class="subdued">{{ album.nb_comments }} commentaires</a></p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <!-- 
                TODO : check if we can add FB Like?
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                -->
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>