<ion-view>
    <ion-content class="has-header releases">
        <div class="item item-divider">
            {{ gallery.title }}
            <p data-ng-bind-html="gallery.description"></p>
        </div>
        <div class="row" ng-repeat="image in gallery.images" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
                <img ng-src="{{gallery.images[$index].thumbnails}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < gallery.images.length">
                <img ng-src="{{gallery.images[$index + 1].thumbnails}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < gallery.images.length">
                <img ng-src="{{gallery.images[$index + 2].thumbnails}}" width="100%" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < gallery.images.length">
                <img ng-src="{{gallery.images[$index + 3].thumbnails}}" width="100%" />
            </div>
        </div>
    </ion-content>
</ion-view>