<div ng-controller="AppController">
    <ion-side-menus>


        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable nav-title-slide-ios7">
                <ion-nav-back-button>
                </ion-nav-back-button>

                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    </button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>



        <ion-side-menu side="left">
            <header class="bar bar-header bar-stable">
                <!--<h1 class="title">Menu</h1>-->
            </header>
            <ion-content class="has-header">
                <ion-list>
                    <ion-item nav-clear menu-close class="first item-icon-left" href="#/app/news">
                        <i class="icon ion-home"></i>
                        News
                    </ion-item>
                    <ion-item nav-clear menu-close class="item-icon-left" href="#/app/bands">
                        <i class="icon ion-ios-people"></i>
                        Groupes
                    </ion-item>
                    <ion-item nav-clear menu-close class="item-icon-left" href="#/app/reviews">
                        <i class="icon ion-ios-pulse-strong"></i>
                        Chroniques
                    </ion-item>
                    <ion-item nav-clear menu-close class="item item-icon-left" href="#/app/lives">
                        <i class="icon ion-mic-c"></i>
                        Concerts
                    </ion-item>
                    <ion-item nav-clear menu-close class="item-icon-left" href="#/app/releases">
                        <i class="icon ion-disc"></i>
                        Sorties d'albums
                    </ion-item>
                    <ion-item nav-clear menu-close class="item-icon-left" href="#/app/articles">
                        <i class="icon ion-document-text"></i>
                        Articles
                    </ion-item>
                    <ion-item nav-clear menu-close class="item-icon-left" href="#/app/galleries">
                        <i class="icon ion-images"></i>
                        Photos
                    </ion-item>
                    <ion-item nav-clear menu-close class="item-icon-left" href="#/app/about">
                        <i class="icon ion-information-circled"></i>
                        A Propos
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</div>