<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-content has-header="true" padding="true">
    <div class="list card">
      <div class="item item-divider">
        {{news.date | date :'dd/MM/yyyy'}}
      </div>
      <div class="item item-body">
        <img class="full-image" data-ng-src="{{ news.image }}">
        <p data-ng-bind-html="news.texte|convertLink"></p>
        <p data-ng-if="news.additionalText" data-ng-bind-html="news.additionalText|trustAsHtml"></p>
        <div data-ng-repeat="video in news.videos">
           <p data-ng-bind-html="video.embed_code|trustAsHtml"></p>
        </div>
        <p>
          <a href="#" class="subdued">n Like</a>
          <a href="#" class="subdued">{{ news.comments }} Comments</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i> Like
        </a>
       <!-- TODO : When user account is available on mobile
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i> Comment
        </a>
        -->
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i> Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
