<!--
	This template loads for the 'tab.friend-detail' state (app.js)
	'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
	The FriendsCtrl pulls data from the Friends service (service.js)
	The Friends service returns an array of friend data
-->
<ion-view>
	<ion-content has-header="true" class="detail">
		<div class="list card">
			<div class="item item-divider">
				{{news.date | date :'dd/MM/yyyy'}}
			</div>
			<div class="item item-body">
				<img class="full-image" data-ng-src="{{ news.image }}">
				<p data-ng-bind-html="news.texte|convertLink"></p>
				<!--
				TODO: wrong image path in additionalText
				-->
				<p data-ng-if="news.additionalText" data-ng-bind-html="news.additionalText|convertLink|trustAsHtml"></p>
				<div data-ng-repeat="video in news.videos" style="height:600px">
					<iframe data-tap-disabled="true" src="{{ video.embedUrl }}" style="width:100%; height:100%;"></iframe>
				</div>
				<!--<p><a href="#" class="subdued">{{ news.comments }} commentaires</a></p>-->
			</div>
		</div>
	</ion-content>
</ion-view>