<ion-view>
    <ion-content class="has-header">
        <label class="item-input-wrapper" id="search-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Rechercher" ng-model="searchTerm" ng-change="search()">
        </label>
        <ion-list>
            <ion-item class="item-text-wrap item-avatar" data-ng-repeat="band in bands" type="item-text-wrap" href="#tab/band/{{band.slug}}">
                <img data-ng-src="{{ band.image }}">
                <h2>{{ band.name }}</h2>
                <p>{{ band.description }} ({{ band.style }})</p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
