<ion-view>
    <ion-content class="has-header">
        <h2>Développement de l'application</h2>
        <p>Cette application a été développé par <a href="http://www.metalorgie.com">Metalorgie.com</a> et est disponible en Open Source sur <a href="https://github.com/Metalorgie/Mobileorgie">Github</a> (si vous savez coder et souhaitez rajouter des fonctionnalités, n'hésitez pas).
        </p>
        <h2>Metalorgie</h2>
        <p>Metalorgie existe depuis 2001, est indépendant et totalement DIY. Le fonctionnement du site repose sur le bénévolat.<br>On aime vous faire découvrir de la musique (musique au sens large, donc notre base est metal/punk mais nous aimons parfois aller explorer d'autres horizons.</p>
        <h2>Nous Soutenir</h2>
        <p>Si vous souhaitez nous soutenir financiérement vous pouvez le faire via une campagne <a href="https://www.tipeee.com/metalorgie">Tipeee</a> (où vous pouvez par la même occasion vous prcurer notre merchandising (T-Shirt, Sweat, Mugs, ...).</p>
        <a class="button button-block button-dark" href="https://www.tipeee.com/metalorgie">Nous soutenir</a>
    </ion-content>
</ion-view>