<ion-view>
    <ion-content class="has-header releases">

        <ion-list can-swipe="false">
            <ion-item class="item-divider" data-ng-repeat-start="releases in releasesByDay">
                {{releases[0].date | date :'dd/MM/yyyy'}}
            </ion-item>

            <ion-item class="item-text-wrap item-icon-right" data-ng-repeat="release in releases" type="item-text-wrap">
                <strong>{{ release.band_name }}</strong> -
                {{ release.title }}
            </ion-item>
            <div data-ng-repeat-end></div>
        </ion-list>

    </ion-content>
</ion-view>