<ion-view>
  <ion-content class="has-header">
        <ion-list can-swipe="true">
          <ion-item class="item-text-wrap item-icon-left item-thumbnail-right" ng-repeat="new in news" type="item-text-wrap" href="#/tab/news/{{new.id}}">
              <img ng-src="{{ new.image }}">
              <i class="icon ion-ios7-circle-filled"></i>
              <p ng-bind-html="new.texte"></p>
              <ion-option-button class="button-positive" ng-click="share(item)">
                  <i class="icon ion-ios7-upload-outline"></i>
              </ion-option-button>
              <ion-option-button class="button-info" ng-click="edit(item)">
                  <i class="icon ion-ios7-search"></i>
              </ion-option-button>
          </ion-item>
        </ion-list>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
