<ion-view>
  <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios7-navigate-outline" ng-click="geolocate()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="live in lives" type="item-text-wrap">
        <h2>{{ live.city }} - {{ live.startDate | date :'dd/MM/yyyy' }}</h2>
          {{ live.title }} @ {{ live.place }}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
