<ion-view>
    <ion-content class="has-header">
        <h2>Développement de l'application</h2>
        <p>Cette application a été développée par <a href="http://www.metalorgie.com">Metalorgie.com</a> et est disponible en Open Source sur <a href="https://github.com/Metalorgie/Mobileorgie">Github</a> (si vous savez coder et souhaitez rajouter des fonctionnalités, n'hésitez pas).
        </p>
        <h2>Metalorgie</h2>
        <p>Metalorgie existe depuis 2001, est indépendant et totalement DIY. Le fonctionnement du site repose sur le bénévolat.<br>On aime vous faire découvrir de la musique (musique au sens large, donc notre base est metal/punk mais nous aimons parfois aller explorer d'autres horizons).</p>
        <h2>Nous Soutenir</h2>
        <p>Si vous souhaitez nous soutenir financiérement vous pouvez le faire via une campagne <a href="https://www.tipeee.com/metalorgie">Tipeee</a> (où vous pouvez par la même occasion vous prcurer notre merchandising (T-Shirt, Sweat, Mugs, ...).</p>
        <a class="button button-block button-dark" href="https://www.tipeee.com/metalorgie">Nous soutenir</a>
        <h2>L'équipe</h2>
        <p>Voilà une partie de l'équipe lors du Metalorgie Fest 2016. Si tu veux en savoir plus sur l'équipe : <a href="#/app/articles/1311">on a répondu à vos questions pour les 15 ans</a>.</p>
        <img src="http://www.metalorgie.com/uploaded/images/2016/06/232228531._metalorgie-team.jpg" style="width:100%">
    </ion-content>
</ion-view>