<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs>

    <!-- News / Home Tab -->
    <ion-tab title="News" href="#/tab/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>

  <!-- Concerts Tab -->
  <ion-tab title="Concerts" href="#/tab/lives">
    <ion-nav-view name="tab-lives"></ion-nav-view>
  </ion-tab>

  <!-- Sorties Tab -->
  <ion-tab title="Sorties" href="#/tab/upcoming">
    <ion-nav-view name="tab-upcoming"></ion-nav-view>
  </ion-tab>

</ion-tabs>
